body {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

.noti {
    position: relative;
    z-index: 1000;
}

.ca {
    margin-top: 20px;
    background-color: #ca1515;
    text-decoration: none;
    color: white !important;
    padding: 3px;
    position: absolute;
    bottom: 20px;
    left: -3px;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
    margin-bottom: 50px;
}

.icons ul {
    display: flex;
}

nav .active {
    color: #111;
    font-weight: bold;
}

.icons ul li {
    position: relative;
    display: block;
    margin: 8px;
}

.navbar-nav .nav-link.active,
.border-red {
    border-bottom: 3px solid #b71c1c
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #b71c1c
}

.links ul li a {
    margin: 8px;
    color: black;
    text-decoration: none;
}

.icons ul li a i {
    color: black;
    transition: all 0.2s linear;
}

.icons ul li a i:hover {
    color: #ca1515;
}

.head .logo {
    margin: 10px;
}

.head .icons ul {
    display: flex;
}

.head .icons ul li {
    position: relative;
    display: block;
    margin: 8px;
}

.head .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    margin-left: 25%;
}

.head .links ul li a {
    margin: 8px;
    color: black;
    text-decoration: none;
}

.head .links ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #970000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
}

.head .links ul li a:hover::after {
    width: 100%;
    transition: all 0.5s;
    transform: scale(.5, .5);
}

.head .links ul {
    list-style-type: none;
    display: flex;
}

.head .links ul li {
    text-align: center;
    padding: 5px;
    display: inline-block;
    position: relative;
    list-style: none;
}

.links .sub {
    display: none;
    width: 190px;
    text-align: left;
    z-index: 5;
}

.links ul li:hover .sub {
    display: block;
    position: absolute;
    margin-left: -50px;
    background: #cacaca;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
    height: auto;
}

.links ul li:hover .sub ul {
    display: block;
}

.links ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #970000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
}

.links ul li a:hover::after {
    width: 100%;
    transition: all 0.5s;
    transform: scale(.5, .5);
}

.links ul {
    list-style-type: none;
    display: flex;
}

.links ul li {
    text-align: center;
    padding: 5px;
    display: inline-block;
    position: relative;
    list-style: none;
}

#login a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
    position: relative;
}

#register a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
    position: relative;
    margin-right: 8px;
}

#login a::after {
    content: "/";
    position: absolute;
    top: 0px;
    right: -9px;
    font-size: 12px;
}

#login a:hover,
#register a:hover {
    color: #ca1515;
}